*.o
*~
*.swp
*.swo
*.gcno
*.gcda
.deps/
.dirstamp
/*.tar.bz2
/aclocal.m4
/autoconf/Make.common
/autoconf/Make.common2
/autoconf/compile
/autoconf/config.*
/autoconf/depcomp
/autoconf/install-sh
/autoconf/ltmain.sh
/autoconf/missing
/autoconf/mkinstalldirs
/autoconf/test-driver
/autom4te.cache
/burp
/burp.conf
/burp-server.conf
/burp-coverage/
/burp-coverage.info
/burp-coverage-clean.info
/CA.cnf
/configure
/runner
/runner.log
/runner.trs
/src/server/protocol1/vss_strip
/src/stamp-h1
/test-suite.log
/utest_find/
/utest_lockfile
/utest_restore/
/utest_xattr/
/vss_strip
Makefile
Makefile.in
config.h.in
config.log
config.out
config.status
libtool
src/config.h
