*.o
*~
*.swp
*.swo
autoconf/Make.common
autoconf/Make.common2
autoconf/ltmain.sh
config.log
config.out
config.status
config.h.in
libtool
src/bedup
src/burp
src/config.h
/autom4te.cache
/configure
/aclocal.m4
Makefile
/src/server/protocol1/vss_strip
