*.o
*~
*.swp
*.swo
.deps/
/*.tar.bz2
/*.tar.gz
.dirstamp
/aclocal.m4
/autoconf/Make.common
/autoconf/Make.common2
/autoconf/compile
/autoconf/config.*
/autoconf/depcomp
/autoconf/install-sh
/autoconf/ltmain.sh
/autoconf/missing
/autoconf/mkinstalldirs
/autom4te.cache
/configure
/src/server/protocol1/vss_strip
/src/stamp-h1
Makefile
Makefile.in
config.h.in
config.log
config.out
config.status
libtool
src/bedup
src/burp
src/config.h
