[Unit]
Description=Burp backup client

[Service]
ExecStart=/usr/sbin/burp -c /etc/burp/burp.conf -a t
Type=oneshot
# 0: success
# 1: error
# 2: restore gave warnings
# 3: timer conditions on the server were not met
# 4: could not connect to serve
# 5: max parallel backups reached
SuccessExitStatus=3
