[Unit]
Description=Burp backup server
After=network.target

[Service]
Type=forking
User=burpui
Group=burpui
RuntimeDirectory=burp
RuntimeDirectoryMode=0750
ExecStart=/usr/sbin/burp -c /etc/burp/burp-server.conf

[Install]
WantedBy=multi-user.target
