#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_install:
	make install-configs DESTDIR=debian/burp
	dh_install

override_dh_fixperms:
	dh_fixperms
	chmod 0600 debian/burp/etc/burp/burp.conf
	chmod 0600 debian/burp/etc/burp/burp-server.conf
	chmod 0700 debian/burp/etc/burp/clientconfdir
	chmod 0700 debian/burp/var/spool/burp

override_dh_auto_configure:
	./configure --prefix=/usr --sysconfdir=/etc/burp --localstatedir=/var

override_dh_strip:
	dh_strip --dbg-package=burp-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/burp

override_dh_installdocs:
	dh_installdocs --link-doc=burp
